<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- ML Kit Modell wird im Hintergrund vom Play Service installiert -->
    <queries>
        <package android:name="com.google.android.gms" />
        <!-- Google Lens / Image Search Apps damit resolveActivity unter Android 11+ klappt -->
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.google.ar.lens" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.instagram.android" />
    </queries>

    <application
        android:name=".HalalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalalScanner"
        android:usesCleartextTraffic="false"
        tools:targetApi="34">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TextScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.FrontScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- FileProvider zum Teilen des aufgenommenen Fotos mit Google Lens etc. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- ML Kit Barcode Modul (wird zur Laufzeit installiert) -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
    </application>
</manifest>
